div.cards {
	border: 1px solid #ddd;
	border-top: none;
	margin-bottom: 20px;
}

div.card {
	display: none;
	padding: 15px;
}

div.card.active {
	display: block;
}

div.left-part {
	width: 100%;
    overflow: auto;
    padding: 10px;
    height: 600px;
}

div.right-part {
	min-width: 500px;
    max-width: 700px;
}

div.tree-level a {
	display: block;
	padding-left: 18px;
	background-repeat: no-repeat;
	background-position: left center;
    height: 22px;
    overflow: hidden;
}

div.tree-level a.tree-item {
	background-image: url('../images/icons/default.png');
}

div.tree-level a.tree-item.selected {
    font-weight: bold;
    text-decoration: underline;
}

div.tree-level a.tree-folder {
	background-image: url('../images/icons/opened.png');
}

div.tree-level div.tree-items {
	padding-left: 15px;
}

fieldset.related-fieldset {
	border: 1px solid black;
	padding: 0px;
	margin-bottom: 10px;
	background-color: #fbfbfb;
}

div.related-item-wrap.modified fieldset.related-fieldset {
    border: 1px solid red;
    background-color: #fefefe;
}

div.related-item-buttons {
    position: relative;
	padding: 10px 20px;
	background-color: #cbcbcb;
}

div.related-item-items {
	padding: 10px 20px;
	position: relative;
	z-index: 10;
}

div.input-related-list-item {
	border: 1px solid #000;
	padding: 10px;
	margin-bottom: 10px;
	background-color: #fbfbfb;
}

div.input-related-list-item div.related-item-list-buttons {
	float: right;
}

div.card div.input-group.date {
	max-width: 200px;
}

div.suggester {
  position: relative;
}

div.suggester div.input-group {
	max-width: 400px;
}


#suggester {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    width: 100%;
    height: 126px;
    position: absolute;
    top: 33px;
    left: 0px;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    overflow: auto;
}

#suggester a {
  display: block;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

div.image-preview {
    margin: 0px 10px 10px 0px;
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    float: left;
}

div.image-preview img {
    width: 100%;
    height: auto;
}

div.image-buttons {
    float: left;
}

div.image-buttons div.image-button {
    width: 60px;
    margin-bottom: 5px;
}

div.input-map {
    width: 450px;
    height: 300px;
}

div.field-actions .btn {
    margin-right: 5px;
}

div.grid-row {
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #fbfbfb;
}

div.grid-row-form {
    padding: 5px;
}

div.grid-row-form label {
    padding-right: 5px;
}

div.grid-row-form button {
    margin: 29px 0px 0px 10px;
}

div.grid-row-form div.grid-item-wrap {
    float: left;
    width: 100px;
    padding: 0px 5px;
}

div.grid-row-form div.grid-item-wrap input {
    width: 90px;
}

div.grid-row-form div.grid-item-wrap label {
    width: 100px;
    white-space: nowrap;
}

div.custom-checkbox {
    display: inline-block;
    background-color: #ff0000;
    border: 1px solid #000;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

div.custom-checkbox.checked {
    background-color: #00FF00;
}

fieldset.grid-fieldset {
    display: inline-block;
}

fieldset.grid-fieldset div.grid-item-wrap {
    display: inline;
    padding: 0px 10px;
}

div.upload-image img {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 10px;
}

div.upload-image div.buttons {
    float: left;
}

div.related-item-list-buttons .btn {
    margin-left: 5px;
}

div.related-item-buttons .btn {
    margin-right: 5px;
}

form.base-form div.messages {
    position: absolute;
    top: 0px;
    right: 0px;
    overflow: hidden;
}

div.related-item-buttons div.messages {
    position: absolute;
    right: 5px;
    top: 5px;
    height: 32px;
}

div.related-item-buttons div.messages div.alert {
    padding: 5px 10px;
}
