<div id="{{dialogId}}" class="form-dialog modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Formulář</h4>
            </div>

            <div class="modal-body">
                <base-form config="{config}"></base-form>
            </div>

        </div>
    </div>
</div>