<div id="{{dialogId}}" class="form-dialog modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">{{message}}</h4>
            </div>

            <div class="modal-body">
                <button type="button" class="btn btn-primary confirm">Ano</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Ne</button>
            </div>

        </div>
    </div>
</div>