<div id="{{formId}}" class="form-dialog modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">{{message}}</h4>
            </div>

            <div class="modal-body">

                <form>
                    <div class="form-group">
                        <label for="select-{{formId}}">Vyber</label>
                        <select id="select-{{formId}}" class="form-control">
                            {{#each options}}<option value="{{value}}">{{text}}</option>{{/each}}
                        </select>
                    </div>
                </form>

                <button type="button" class="btn btn-primary select">Vybrat</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Zrušit</button>
            </div>

        </div>
    </div>
</div>