<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="left-part">
                <entity-tree items={tree.data} title={tree.title}></entity-tree>
            </div>
        </div>

        <div class="col-md-9">
            <div class="right-part">
                <base-form config={formConfig}></base-form>
            </div>
        </div>
    </div>
</div>