<div class="tree-level">
	<a href="#" class="tree-folder" can-click="toggleVisibility">{{title}}</a>
	{{#if visible}}
	<div class="tree-items">
	{{#each items}}
		{{#if id}}
			<entity-tree-item entity-id={id} title={title}></entity-tree-item>
		{{else}}
			<entity-tree items={data} title={title}></entity-tree>
		{{/if}}
	{{/each}}
	</div>
	{{/if}}
</div>