<nav class="navbar navbar-default">
	<div class="container-fluid">
		<ul class="nav navbar-nav">
		{{#each items}}
			<li>
				<a {{#if subItems}}href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"{{else}}href="#!{{link}}"{{/if}}>{{title}}{{#if subItems}}<span class="caret"></span>{{/if}}</a>
				{{#if subItems}}
				<ul class="dropdown-menu" role="menu">
					<li><a href="#!{{link}}">{{title}}</a></li>
					{{#each subItems}}
					<li><a href="#!{{link}}">{{title}}</a></li>
					{{/each}}
				</ul>
				{{/if}}
			</li>
		{{/each}}
		</ul>
	</div>
</nav>